<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
    <link rel="stylesheet" href="/styles.css"/>   
</head>
    <body class="err">
        <h1 class="erTxt">Internal Server Error: 500</h1>
        <p class="erTxt">Oops! Something went wrong on our end. We're encountering a 500 Internal Server Error. Our team has been notified, and we're working hard to fix it. In the meantime, please try again later. We apologize for any inconvenience."</p>
    </body>
</html>